
    
body{background-color:#34495e;}
li{background-color:white;}
ul{list-style:none}

.gridster
{
    margin-top: 100px;
    margin-bottom: 50px;
}
.box {
   position: absolute;
/*  margin: 0 auto;
    padding: 1em 0 4em;*/
    width: 100%;
    height: 100%;
    overflow: hidden;

}

img{
position: absolute;
   width:calc(100% + 40px) !important;
    height:100% !important;
    opacity: 0.8;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
}

.box:hover img{
 opacity: 1;
     -webkit-transform: translate3d(0,0, 0);
    transform: translate3d(0,0,0);

}
.content{
        position: absolute;
    top: 0px;
    left: 0px;
/*    padding: 2em;*/
    width: 100%;
    height: 100%;
}
h2{
    color:white;
     /*   -webkit-transform: translate3d(0,30px,0);
    transform: translate3d(0,30px,0);*/
     /*  clear:left;
    color:white;*/
     -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /*margin: 10px 0 0 10px;*/
    word-break: break-all ;
    margin-bottom:0px;

}
p{
     float:left;

    opacity: 0.7;
      /*  -webkit-transform: translate3d(0,30px,0);
    transform: translate3d(0,30px,0);*/
     -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.20s;
    margin:0 0 0 0;


    position: absolute;
word-break: break-all ;


}
.box:hover h2{
 
     -webkit-transform: translate3d(10%,0, 0);
    transform: translate3d(0,10%,0);
    opacity: 1;

    
}

.box:hover p{
 
     -webkit-transform: translate3d(0,10%, 0);
    transform: translate3d(10%,0,0);
    opacity: 1;

    
}
.text{
    position: absolute;
}



