<!DOCTYPE html>
<html data-ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    

  </head>




  <body data-ng-controller="AppCtrl" style="overflow-y: hidden;">

<ion-content >

  <div class="head1">
  <center><h1>Clippy</h1></center>
  <center><p>A smart way to store, manage and customize your bookmarks quite precisely.</p></center>
  </div>
 <form ng-submit="refresh(movie)">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="Email Address" ng-model="movie">
                        </label>
                      <button type="submit"class="button button-balanced button-small">
                            Sign Up!
                        </button>
                    </div>
                </form>







  <div class="card list" data-ng-repeat="a in data">
                    <div class="item item-avatar-left">
                        <img alt="">
                        <h2>Snippet</h2>
                        <p>{{a.post4["date"]}}</p>
                    </div>
                    <div class="item item-body">
                        
                        <p>
                        {{a.post4["data"][0]}}
                        </p>
                        <hr style="margin:0 2px 0 2px">
                        <p>
                           
                            <a href="{{a.post4["url"]}}" class="subdued">{{a.post4["url"]}}</a>
                        </p>
                    </div>
                </div>
</ion-content>


<div class="bar bar-footer ">
    <footer id="footer">
  <center>  <div class="foot">
          <a href="#" class="icon ion-social-twitter" style="font-size: 25px"><span class="label"></span></a></li>
        <a href="#" class="icon ion-social-instagram" style="font-size: 25px" ><span class="label"></span></a></li>
         <a href="#" class="icon ion-social-github" style="font-size: 25px"><span class="label"></span></a></li>
        <a href="#" class="icon ion-email" style="font-size: 25px"><span class="label"></span></a></li>
       </div></center>
        <ul class="copyright">
         <center><li>&copy; Turing Machine</li><li>Credits: <a href="https://www.github.com/The-Turing-Machine/">Turing Machine</a></li></center>
        </ul>
      </footer>


</div>




  </body>
</html>
