/* Empty. Add your own CSS if you like */
body{
	background-color: black !important;
	/*overflow: hidden;*/
}
.head1{
	padding-top: 50%;
	
	
}
h1{
	 font-size: 3em;
	 line-height: 1.25em;
   	color: #fff;
   	margin: 0 0 1em 0;
   	font-family: 'Poiret One', cursive;
}

p{
	font-size: 1.3em;
	 line-height: 1.25em;
   	color: #fff;
   	margin: 0 0 7%  0;
   	font-family: 'Poiret One', cursive;
}

label{
	/*margin-right: %;*/
	height:20%;
	background-color:rgba(0,0,0,0) !important;
	border: 1px solid #fff;

}
div .item-input-inset{
/*	margin-left: 5%;*/
	/*margin-right: 5%;*/
	background-color: black;
	border:hidden;
	color: rgba(255, 255, 255, 0.75);
	font-family: 'Poiret One', cursive;


}
input{
	height:40px !important;
		border:2px solid white;

		color: white !important;

}
button{
	  line-height: 38px !important;
    width: 15%;
 	 	font-family: 'Poiret One', cursive;   
 	 	color:#fff;
 	 	font-weight: 700;

}
/* line-height: 1.25em;
        color: #fff;
    font-weight: 700;
  
    margin: 0 0 1em 0;*/

/*
.foot{
	color:white;
	padding-left: 20%;
}*/
.bar-footer{
	background-color: transparent;
	height:13% !important;
}
.icon{
	padding:0 35px 0 30px;
	color:white;
}

.copyright{
	color:white;

}
.copyright a{
	color: white;


}

/* Empty. Add your own CSS if you like */
ion-content{
	background-color: black !important;
	color:white;
}


.card.list{
	border: 2px solid #40d47e;
	background-color: black !important;
	
}
.item-input-inset{
	background-color: #2c3e50;
}
/*.full{
	max-width:100% !important;
	max-height:10% !important;
}
*/
h2{
	color: #40d47e;
}
p{
	color: #bdc3c7 !important;
}
.item-avatar-left,.item.item-body{
	border-top:2px solid #40d47e;
	
	background-color: black !important;
}


